<div class="{{ order.newClass }}">
  <img [src]="order.productImage" alt="icon" width="40px" height="40px" class="img">
  <h3>{{ order.nameProduct }}</h3>
  <p>X {{ order.count }}</p>
  <p>{{ order.cost }}</p>
  <app-button-delete
    (deleteProduct)="onClickBtnDelete()"
  ></app-button-delete>
</div>
