.displayBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  border: 2px solid black;
  width: 200px;
  background: white;
}

.order:hover {
  cursor: pointer;
  background: greenyellow;
  box-shadow: 5px 5px 5px black;
}

.img {
  margin: 0 auto;
}

.displayNone {
  display: none;
}
