<div class="fastFood">
  <h1 class="title">*- Fast-Food -*</h1>
   <div class="addedProducts">
     <h2>{{ greetingText }}</h2>
     <div class="order">
       <app-orders
         *ngFor="let product of arrayProducts; let i = index"
         [order]="product"
         (deleteProduct)="deleteProduct(i)"
       ></app-orders>
     </div>
     <h3 class="price">Price: {{ getPrice() }} som.</h3>
 </div>
  <div class="products">
    <app-products
      *ngFor="let product of arrayProducts; let i = index "
      [products]="product"
      (addedProduct)="addProduct(i)"
    ></app-products>
  </div>
</div>
