.fastFood {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  background: orange;
  padding: 20px 0;
}

.addedProducts {
  text-align: center;
  width: 600px;
  border-radius: 7px;
  border: 2px solid black;
  min-height: 670px;
  background: lightskyblue;
}

.order {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px;
  min-height: 650px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  border-radius: 7px;
  border: 2px solid black;
  padding: 20px;
  background: lightskyblue;
}

.title {
  font-size: 46px;
  font-weight: bold;
  font-style: italic;
  padding: 0 0 20px;
  width: 100%;
  border-bottom: 5px solid black;
}

.price {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
}
