<div class="product" (click)="onClickProduct()">
  <img [src]="products.productImage" alt="icon" width="40px" height="40px" class="img">
  <h3 class="indent">{{ products.nameProduct }}</h3>
  <p class="indent">X {{ products.count }}</p>
  <h3 class="indent">{{ products.cost }} som.</h3>
</div>
